---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Swift Plaza Toastmasters',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      { variant: 'primary', text: 'Learn More', href: '/#aboutclub' },
    ]}
  > 
  
    <Fragment slot="tagline">
      Toastmasters
    </Fragment>

    <Fragment slot="title">
      Swift Plaza
    </Fragment>

    <Fragment slot="subtitle">
      Our club was founded by business professionals for business professionals, 
      with the core mission to help members build their leadership and public speaking skills.
    </Fragment>

  </Hero>

  <!-- Current Event Hero -->
  <Hero
    actions={[
      {
        variant: 'secondary',
        text: 'Text To Learn More About Our Open House',
        href: 'sms:925-526-5229',
        target: '_blank',
        icon: 'tabler:message',
      },
    ]}
    image={{ src: '~/assets/images/open_house_cropped.png', alt: 'Open House Event Banner' }}
  > 


  </Hero>

  <!-- Content Widget **************** -->

  <Content
    title="About Swift Plaza"
    image={{ src: '~/assets/images/sp2018_cropped.jpg', alt: 'Spring 2018 New Member Induction'}}
    id="aboutclub"
  >
    <Fragment slot="content">
      <p>
        Our club was founded by business professionals for
        business professionals, with the core mission to help
        members build their leadership and public speaking
        skills.
      </p> <br>
      <p> 
        Originally a corporate club for Wells Fargo team
        members, we have expanded post-pandemic to
        becoming a Community Club and are now open to all
        past, present and future business professionals.
      </p> <br>
      <p> 
        Our core mission remains the same: we want to provide
        a supportive, safe and positive learning environment in
        which members are empowered to develop
        communication and leadership skills. We want to inspire
        and enable you to becoming confident communicators
        and leaders, thereby contributing to your personal and
        professional growth.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Physical Location Widget -->
  <Content
    isReversed
    image={{ src: '~/assets/images/swiftplazabuilding.png', alt: 'Map'}}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Visit Us In-Person</h3>
      <p> 
        You can find us at 
        <a class="text-sky-400" href="https://maps.app.goo.gl/AC1xYrrm4pFEo2Yv5" target="_blank">
          Swift Plaza Building A, 1655 Grant St, Concord, CA 94520
        </a>
        in the Willow Room immediately on the left when you enter. 
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- 2nd Text Hero -->
  <Hero> 

    <Fragment slot="title">
      Our Mission
    </Fragment>

    <Fragment slot="subtitle">
      We provide a supportive and positive learning experience in which
      members are empowered to develop communication and leadership skills,
      resulting in greater self-confidence and personal growth.
    </Fragment>

  </Hero>

</Layout>
